<mat-dialog-content>
  <div class="my-dialog">
    <h4 class="my-dialog-title">Ajouter</h4>
    <!--  form-->
    <div class="form-content">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <input matInput placeholder="Nom et premom"  formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <input matInput placeholder="IMSI" formControlName="imsi">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <input matInput placeholder="Telephone" formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field  appearance="outline" class="w-100 mb-3">
          <mat-select placeholder="Type de souscription"  required formControlName="subscriberType">
            <mat-option [value]="subscriberTypes.POSTPAID">POSTPAID</mat-option>
            <mat-option [value]="subscriberTypes.PREPAID">PREPAID</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <input type="text"
                 placeholder="Services"
                 aria-label="Number"
                 formControlName="tlServices"
                 matInput
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectItems($event)">
            @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option.label">{{option.label + (option.hasTargetNumber ? "( Numero Cible )" : "")}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <div class="spans">
          <div class="spans-chips" [class]="{'spans-chips-color-1': !service.hasTargetNumber, 'spans-chips-color-2': service.hasTargetNumber}" *ngFor="let service of services">
            <span>{{service.label}}</span>
            <img (click)="onRemoveItem(service)" src="assets/close-circle.svg" alt="" srcset="">
          </div>
        </div>


        <div class="action-form">
          <button class="my-btn-danger custom-btn-p mr-16" (click)="onClose()">Annuler</button>
          <button class="my-btn custom-btn-p" type="submit">Ajouter</button>
        </div>

      </form>


    </div>
  </div>

</mat-dialog-content>
