<mat-dialog-content>
  <div class="my-dialog">
    <h4 class="my-dialog-title">Ajouter</h4>
    <!--  form-->
    <div class="form-content">

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <input matInput placeholder="Nom et premom">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <input matInput placeholder="IMSI">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <input matInput placeholder="Telephone">
      </mat-form-field>

    </div>
  </div>

</mat-dialog-content>
