<div class="h-100 card-right">
  <img class="image-slide" [src]="'assets/' +currentSlide" alt="" srcset="">
  <div class="card-shadow">
    <div class="card-shadow-content">
      <h4>Simplicité d'Abonnement</h4>
      <p>Facilitez la vie de vos utilisateurs avec une gestion aisée des abonnés pour une expérience téléphonique sans soucis !</p>

      <div class="circle-indicator">
        <div class="circle-indicator-item circle-indicator-item-active"></div>
        <div class="circle-indicator-item"></div>
        <div class="circle-indicator-item"></div>
      </div>
    </div>
  </div>
</div>
