.user-details {
  background-color: rgb(244 244 244 / 44%);
  height: 100%;
  padding: 16px 24px;
  border-left: 1px solid #DFE4D7;

  &-header {
    h5 {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }

    border-radius: 16px;
    background: #73796E;
    color: white;
    padding: 12px;

    label {
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

.spans-chips {
  margin-bottom: 14px;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 8px 18px;
  border-radius: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #002021;
  margin-right: 14px;

  span {
    margin-right: 8px;
  }

  &-color-1 {
    background: #BCEBEE;
  }

  &-color-2 {
    background: #AEF596;
  }
}

.service-item{
  background-color: white;
  padding: 8px 18px;
  border-radius: 8px;
  &-number{
    color: #386668;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
