<div class="card-item">
  <div class="card-item-content">
    <div class="card-item-circle">
      <ngx-skeleton-loader [theme]="{height: '70px', width: '70px'}" count="1" appearance="circle"></ngx-skeleton-loader>
    </div>
    <div class="card-item-info">
      <div>
        <ngx-skeleton-loader [theme]="{height: '15px', width: '150px'}" count="1" appearance="line"></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader [theme]="{height: '15px', width: '150px'}" count="1" appearance="line"></ngx-skeleton-loader>
      </div>
    </div>
  </div>

  <div>
    <div class="card-item-info-2">
      <div>
        <ngx-skeleton-loader [theme]="{height: '15px', width: '150px'}" count="1" appearance="line"></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader [theme]="{height: '15px', width: '150px'}" count="1" appearance="line"></ngx-skeleton-loader>
      </div>
    </div>
  </div>

  <div class="card-item-indicator">
    <ngx-skeleton-loader [theme]="{height: '25px', width: '25px'}" count="1" appearance="circle"></ngx-skeleton-loader>
  </div>
</div>
