<div class="padding-list">

  <div class="header-data">
    <h3 class="text-primary">Gestion des abonnés</h3>

    <!-- SEARCH LEVEL -->
    <div class="action-head">
      <input class="my-search" #search placeholder="rechercher" (keyup)="onSearch(search.value)"/>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog('250ms', '250ms')">
          <mat-icon>add_circle</mat-icon>
          <span>Ajouter un client</span>
        </button>
        <button mat-menu-item (click)="onGenerateManyInvoice()">
          <mat-icon>format_align_center</mat-icon>
          <span>Generer les factures</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="list-items">
    @if (isLoading) {
      @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
      <app-loader-skeleton-item></app-loader-skeleton-item>
      }
    } @else {
      @for (item of dummySubscriberListSearch; track $index) {
      <app-subscriber-item [data]="item"></app-subscriber-item>
      }
    }

  </div>
</div>
